body {
  background-color: lightblue;
}
body {
  text-align: center;
  margin: auto;
  padding: 1rem;
}
header {
  text-align: center;
  background-color: cadetblue;
  padding-bottom: 10px;
  padding-top: 10px;
  height: auto;
}
header > h1 {
  font-size: 50px;
}
.sidebar {
  font-size: large;
  height: 100%;
  width: 80%;
  background-color: rgb(154, 177, 199);
  padding: 0 1em;
}
footer {
  text-align: center;
}
ul {
  display: inline-block;
  text-align: center;
}
ul li {
  list-style: none;
  text-align: left;
  padding-right: 30px;
}
iframe {
  padding-top: 30px;
}
#award {
  margin-top: 20px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px 10px;
}

.one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.two {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.three {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.sidebar {
  grid-column-start: 4;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: 2;
}
.four {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: auto;
}

.five {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: auto;
}

.six {
  grid-column-start: 3;
  grid-column-end: auto;
  grid-row-start: 2;
  grid-row-end: auto;
}
.article {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 600px) {
  .article {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .article {
    grid-template-columns: repeat(3, 1fr);
  }
}
