body {
  background-color: lightblue;
}
body > p {
  text-align: center;
}
article {
  padding-top: 20px;
}
header {
  text-align: center;
  background-color: cadetblue;
  padding-bottom: 10px;
  padding-top: 10px;
}
header > h1 {
  font-size: 50px;
}
footer {
  text-align: center;
}
.boxed {
  border: 1px solid rgb(41, 47, 65);
  width: 600px;
}
