body {
  background-color: lightblue;
}
body > p {
  text-align: center;
}
.intro {
  padding-top: 20px;
  text-align: center;
}
header {
  text-align: center;
  background-color: cadetblue;
  padding-bottom: 10px;
  padding-top: 10px;
  height: auto;
}
header > h1 {
  font-size: 50px;
}
article {
  flex-shrink: 1;
}
.container {
  display: flex;
  flex-direction: row;
}
.grid-one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}
.grid-second {
  display: flex;
  justify-content: space-around;
}
.sidebar {
  font-size: large;
  height: 100%;
  width: 25%;
  background-color: rgb(154, 177, 199);
  float: right;
  margin-left: 20px;
}
footer {
  text-align: center;
}
.mid {
  text-align: center;
}
ul {
  display: inline-block;
  text-align: center;
}
ul li {
  list-style: none;
  text-align: left;
  padding-right: 30px;
}
.conclusion {
  text-align: center;
  padding-bottom: 50px;
}
.boxed > p {
  font-size: large;
}
h3:first-child {
  background-color: azure;
}
iframe {
  padding-top: 30px;
}
.boxed {
  border: 0px;
  width: 100%;
}
@media (max-width: 960px) {
  .container {
    flex-wrap: wrap;
  }
  .sidebar {
    width: 100%;
  }
}
